.buttons-sondage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10%;
    align-items: center;
    cursor: pointer;
}

.buttons-sondage:hover{
    background-color: #F98181;
    opacity: 0.8;
    cursor: pointer;
}

.button-sondage{
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #F98181;
    color: white;
    font-size: large;
}

.title-sondage{
    color: #621C52;
    font-weight: normal;
    font-size: 40px;
    margin-top: 0%;
}