
.logo{
width: 58px;
height:64px;
}
.gnr-text{
color:#002CAF;
font-size: 40px;

}
.gender1{
    background-color: white;
    height: 180px;
    width: 225px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    margin: 50px;         
   
}
.gender1 img{
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.gender1 p{

  margin: 0 0 10px 0;
    font-size: 42px; 
   
}
.gender2{ 

  
    background-color: white;
     height: 180px;
    width: 225px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    margin: 50px; 
}
.gender2:hover{
background-color: #BFE6FF;
}
.gender2 img{ 
    width: 96px;
    height: 96px;
     padding-top: 28px;
object-fit: cover;
}
.gender2 p{
  
    margin: 10px 0 20px 0;
    font-size: 42px; 
}