.buttons-sondage2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10%;
    align-items: center;
    cursor: pointer;
}

.buttons-sondage2:hover{
    background-color: #7EB7FC;
    opacity: 0.8;
    cursor: pointer;
}

.button-sondage2{
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #7EB7FC;
    color: white;
    font-size: large;
}

.title-sondage2{
    color: #002CAF;
    font-weight: normal;
    font-size: 35px;
    margin-top: 0%;
}